export AWS_PROFILE=my-aws-profile
export AWS_REGION=my-aws-region
export VAPID_PUBLIC_KEY=(ENTER VAPID PUBLIC KEY)
export VAPID_PRIVATE_KEY=(ENTER VAPID PRIVATE KEY)
export VAPID_IDENTIFIER=mailto:(ENTER A VALID EMAIL ADDRESS)
export AWS_SDK_LOAD_CONFIG=1